.error {
  color: red;
  background: lightgray;
  font-size: medium;
  border-style: outset;
  padding: 10px;
  margin-bottom: 10px;
}

.create {
  color: green;
  background: lightgray;
  font-size: medium;
  border-style: outset;
  padding: 10px;
  margin-bottom: 10px;
}